body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}

.login-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/background.jpg') no-repeat center center;
  background-size: cover;
  z-index: 0;
}

.login-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 5%;
  z-index: 1;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-top: none;
}

.login-box img {
  display: block;
  margin: 0 auto 1rem auto;
  max-width: 90%;
  padding-top: 15px;
  height: auto;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-box .form-group {
  margin-bottom: 1rem;
}

.login-box .form-control {
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.login-box .btn-primary {
  width: 100%;
  border-radius: 4px;
}
#password-recovery {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  html, body {
    height: 100%;
    overflow: hidden;
  }

  .login-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: 0;
    position: relative;
  }

  .login-left {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    opacity: 0.6;
    display: block;
    z-index: 0;
  }

  .login-right {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-top: 30px;
    z-index: 1;
    height: calc(100vh - 60px);
  }

  .login-box {
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
  }
}